cookiecutter
sh
binaryornot

# Code quality
# ------------------------------------------------------------------------------
flake8
autopep8
# Testing
# ------------------------------------------------------------------------------
tox
pytest
pytest-cookies
pbs

